.footer__place-name {
  margin: 0;
  padding-bottom: 16px;
  font-family: 'Neue Machina';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: var(--color-coal);
}
