.page {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-width: 320px;
  max-width: 14400px;
  width: 100%;

  margin: 0 auto;
  background-color: #ECEBE8;

  font-family: 'Formular', 'Arial', sans-serif;
  font-style: light;
  color: #242424;
}
