.section-title {
  margin: 0 0 0 var(--title-offset);
  max-width: 568px;
  font-family: 'Neue Machina';
  font-size: 40px;
  line-height: 40px;
  font-weight: normal;
  letter-spacing: -0.01em;
  color: var(--color-coal);
}

@media screen and (max-width: 576px) {
  .section-title {
    font-size: 28px;
    line-height: 32px;
  }
}
