.button-link-block {
    color: var(--color-coal);
    background-color: var(--color-accent);
    padding: 71px var(--title-offset) 141px var(--title-offset);
    display: grid;
    grid-template-columns: 410px 300px;
    grid-template-rows: 1fr auto;
    gap: 20px 100px;
    grid-template-areas:
        "title title"
        "text button";
}


@media screen and (max-width:1280px) {
    .button-link-block {
        grid-template-columns: 1fr ;
        grid-template-rows: 64px auto 1fr 1fr;
        gap: 8px;
    grid-template-areas:
        "title"
        "text"
        "button";
    }
}
@media screen and (max-width:768px) {
    .button-link-block {
        padding: 57px 24px 30px 24px;
        margin: 0;
    }
}
