.header__menu {
  width: 100%;
  min-height: 61px;

  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: 100%;

  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1420px) {
  .header__menu {
    display: none;
  }
}
