.header__projects {
  position: absolute;
  left: 30px;
  top: 94px;
  z-index: 1;
  width: 120px;
}

.header__projects:hover {
  cursor: pointer;
}

@media screen and (max-width: 140px) {
  .header__projects {
    position: relative;
    margin-left: 20px;
    align-self: center;
  }
}
