.footer__developer {
  margin: 0;
  max-width: 210px;
}

.footer__design > .footer__developer {
  max-width: 155px;
}

@media screen and (max-width: 1030px) {
  .footer__developers > .footer__developer{
    padding-top: 16px;
    max-width: 254px;
  }
}
