.front-page__link {
  display: flex;
  align-items: center;
	text-transform: uppercase;
  text-align: right;
  color: var(--color-coal);
  box-sizing: border-box;
  transition: all .4 ease;
  z-index: 2;
  height: 100%;
}

.front-page__button:hover > .front-page__link {
	color: var(--color-main-background);
	transition-delay: .35s;
}
