.one-video-block {
    background-color: var(--color-main-background);
    color: var(--color-coal);
    display: flex;
    flex-direction: column;
    max-width: 716px;
    padding: 98px var(--title-offset);

}

@media screen and (max-width:768px) {
  .one-video-block {
      padding-top: 57px;
      padding-bottom: 100px;
  }
}
