.popup-slider__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: translate(var(--shift-x), var(--shift-y))
             scale(var(--scale-x), var(--scale-y));
  opacity: 0;
  transition: opacity var(--trans-dur) ease;
}

.popup-slider__image:first-child {
  opacity: 1;
}

.popup-slider_zoom-mode .popup-slider__image {
  width: 200%;
  height: 200%;
  transform: translate(var(--pan-x), var(--pan-y));
}
