.front-page__title {
  grid-area: title;
  padding-top: 58px;
  max-width: 450px;
  width: 100%;
  min-height: 140px;
  margin: 0;
  font-family: 'Neue Machina';
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 70px;
  letter-spacing: -0.01em;
  color: var(--color-coal);
}

@media screen and (max-width: 870px) {
  .front-page__title {
    padding-top: 32px;
    padding-left: 24px;
    font-size: 40px;
    line-height: 40px;
    min-height: 40px;
  }
}
