.footer__copyright {
  grid-area: copyright;
  display: flex;
  font-family: 'Formular';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: var(--color-coal);
}
