.header__link_content_social {
  margin-right: 16px;
}

@media screen and (min-width: 1420px) {
  .header__link_content_social:last-child {
    margin: 0;
  }
}

@media screen and (max-width: 1420px) {
  .header__link_content_social {
    margin-right: 44px;
  }
}
