.playbill__title {
  margin: 0 84px 0 24px;
  max-width: 568px;
  font-family: 'Neue Machina';
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.01em;
}

@media (max-width: 480px) {
  .playbill__title {
    width: 100%;
    max-width: 364px;
    margin: 0 24px;
    font-size: 28px;
    line-height: 32px;
  }
}
