.playbill__title {
  margin-bottom: 75px;
}

.playbill_type_single .playbill__title {
  margin-left: 24px;
  margin-right: 24px;
  justify-self: end;
}

@media (max-width: 820px) {
  .playbill_type_single .playbill__title {
    align-self: flex-start;
    margin-left: var(--title-offset);
    margin-right: 0;
    max-width: 568px;
  }
}

@media (max-width: 576px) {
  .playbill__title {
    margin-bottom: 34px;
  }
}
