.open-to-block {
    position: relative;
    margin: 100px 200px 169px 48%;
    color: var(--color-coal);
}

@media screen and (max-width:1200px) {
    .open-to-block {
        margin: 76px 13.7% 100px 35%;
    }
}

@media screen and (max-width:768px) {
    .open-to-block {
        margin: 76px 13.7% 100px 13.7%;
    }
}