.front-page__link-hover {
  box-sizing: border-box;
  height: 100%;
	position: absolute;
  top: 0;
  right: 0;
	width: 0;
  background: var(--color-coal);
  z-index: -1;
  transition: all .35s ease;
}

.front-page__button:hover > .front-page__link-hover {
	transition-delay: .3s;
  width: 100%;
}
