.about__title {
  margin: 0;
  max-width: 569px;
  width: 100%;
  padding-top: 79px;
  padding-bottom: 17px;
  color: var(--color-coal);
}

@media screen and (max-width: 870px) {
  .about__title {
    padding-top: 56px;
    max-width: 366px;
    margin: 0 auto;
  }
}
