.footer__partners-title {
  margin: 0;
  max-width: 120px;
  width: 100%;
  font-family: 'Formular';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: var(--color-coal);
}
