.playbill__slider {
  position: relative;
  padding-bottom: 4px;
  max-width: 100%;
  align-self: center;
  --custom-slider__active: 1;
  --custom-slider__vertical-position: 220px;
  --custom-slider__button-size: 50px;
  --custom-slider__arrow-size: 30px;
}

@media (max-width: 480px) {
  .playbill__slider {
    --custom-slider__active: 0;
    padding-bottom: 0;
  }
}
