.footer__item-link {
  display: block;
  text-decoration: none;
  color: var(--color-coal);
  padding-left: 9.8px;
}

.footer__item-link:hover {
  padding-left: 0;
}

.footer__item-link:hover:before {
  content: "( ";
}

.footer__item-link:hover:after {
  content: " )";
}
