.announcement {
  position: relative;
  width: 420px;
  display: grid;
  column-gap: 30px;
  grid-template-columns: auto 1fr 1fr;
  grid-template-areas:
    "image date      time"
    "image title     title"
    "image playwrite playwrite"
    "image director  director"
    "image info      ..."
    "...   buttons   buttons";
  color: var(--color-coal);
  flex-shrink: 0;
}

.announcement:not(:first-child)::before {
  content: '';
  position: absolute;
  top: 0;
  left: calc((var(--column-gap) - 1px) / -2);
  width: 1px;
  height: 90%;
  background-color: var(--color-coal);
}

@media (max-width: 480px) {
  .announcement {
    width: 100%;
    box-sizing: border-box;
    padding: 0 calc((100vw - 364px) / 2);
    grid-template-columns: auto 4fr 3fr;
    column-gap: 29px;
  }
  .announcement:not(:first-child)::before {
    top: -32px;
    left: 0;
    height: 1px;
    width: 100%;
  }
}

@media (max-width: 364px) {
  .announcement {
    max-width: none;
    padding: 0;
  }
}
