/*
Стиль, отвечающий за то, что если ширина всей страницы будет ограничена (например, 1440px),
то на широких экранах поля за пределами страницы будут одного цвета с фоном самой страницы;
блокирует выход элементов за пределы окна, чтобы исключить появление горизонтальной линейки прокрутки;
задает шрифт текста по умолчанию, чтобы не прописывать его
у элементов, поддерживающих наследование шрифта;
*/
.background {
  overflow-x: hidden;
  font-family: 'Formular', 'Arial', sans-serif;
  background-color: var(--color-main-background);
}

.body_frozen {
  overflow: hidden;
}
