@import url(../vendor/normalize.css);
@import url(../fonts/fonts.css);
@import url(../root/root.css);  /* Глобальные кастомные свойства (цвета) */
@import url(../blocks/background/background.css);
@import url(../blocks/page/page.css);

@import url(../blocks/button/button.css);
@import url(../blocks/button/_type/button_type_left.css);
@import url(../blocks/button/_type/button_type_right.css);
@import url(../blocks/button/_type/button_type_down.css);
@import url(../blocks/button/_type/button_type_45.css);
@import url(../blocks/section-title/section-title.css);
@import url(../blocks/section-text/section-text.css);
@import url(../blocks/nav-link/nav-link.css);

@import url(../blocks/play/play.css);
@import url(../blocks/play/__box/play__box.css);
@import url(../blocks/play/__title/play__title.css);
@import url(../blocks/play/__buttons/play__buttons.css);
@import url(../blocks/play/__link/play__link.css);
@import url(../blocks/play/__author/play__author.css);
@import url(../blocks/play/__name/play__name.css);
@import url(../blocks/play/__city-year/play__city-year.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__projects-button/header__projects-button.css);
@import url(../blocks/header/__menu/header__menu.css);
@import url(../blocks/header/__menu-button/header__menu-button.css);
@import url(../blocks/header/__menu-container/header__menu-container.css);
@import url(../blocks/header/__menu-container/_opened/header__menu-container_opened.css);
@import url(../blocks/header/__nav/header__nav.css);
@import url(../blocks/header/__nav/_content/header__nav_content_social.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/header/__link/_content/header__link_content_info.css);
@import url(../blocks/header/__link/_content/header__link_content_social.css);
@import url(../blocks/header/__link/_content/header__link_content_support.css);
@import url(../blocks/header/__support/header__support.css);

@import url(../blocks/front-page/front-page.css);
@import url(../blocks/front-page/__button-logo/front-page__button-logo.css);
@import url(../blocks/front-page/__logo/front-page__logo.css);
@import url(../blocks/front-page/__button/front-page__button.css);
@import url(../blocks/front-page/__link/front-page__link.css);
@import url(../blocks/front-page/__link-arrow/front-page__link-arrow.css);
@import url(../blocks/front-page/__link-hover/front-page__link-hover.css);
@import url(../blocks/front-page/__title/front-page__title.css);
@import url(../blocks/front-page/__subtitle/front-page__subtitle.css);
@import url(../blocks/front-page/__image/front-page__image.css);

@import url(../blocks/about/about.css);
@import url(../blocks/about/__title/about__title.css);
@import url(../blocks/about/__subtitle/about__subtitle.css);

@import url(../blocks/button-link-block/button-link-block.css);
@import url(../blocks/button-link-block/__arrow/button-link-block__arrow.css);
@import url(../blocks/button-link-block/__button/button-link-block__button.css);
@import url(../blocks/one-video-block/one-video-block.css);
@import url(../blocks/one-video-block/__text/one-video-block__text.css);
@import url(../blocks/one-video-block/__title/one-video-block__title.css);
@import url(../blocks/one-video-block/__video/one-video-block__video.css);
@import url(../blocks/open-to-block/open-to-block.css);
@import url(../blocks/open-to-block/__link/open-to-block__link.css);
@import url(../blocks/open-to-block/__star/open-to-block__star.css);
@import url(../blocks/open-to-block/__text/open-to-block__text.css);
@import url(../blocks/open-to-block/__title/open-to-block__title.css);
@import url(../blocks/video/video.css);
@import url(../blocks/video/_enabled/video_enabled.css);
@import url(../blocks/video/__button/video__button.css);
@import url(../blocks/video/__button-icon/video__button-icon.css);
@import url(../blocks/video/__button-shape/video__button-shape.css);
@import url(../blocks/video/__link/video__link.css);
@import url(../blocks/video/__media/video__media.css);
@import url(../blocks/video/__media/video__media.css);
@import url(../blocks/button-link-block/__text/button-link-block__text.css);
@import url(../blocks/button-link-block/__title/button-link-block__title.css);

@import url(../blocks/gallery/__title/gallery__title.css);
@import url(../blocks/gallery/__container/gallery__container.css);
@import url(../blocks/gallery/__image/gallery__image.css);

@import url(../blocks/announcement/announcement.css);
@import url(../blocks/announcement/__image/announcement__image.css);
@import url(../blocks/announcement/__date/announcement__date.css);
@import url(../blocks/announcement/__time/announcement__time.css);
@import url(../blocks/announcement/__title/announcement__title.css);
@import url(../blocks/announcement/__authors/announcement__authors.css);
@import url(../blocks/announcement/__playwrite/announcement__playwrite.css);
@import url(../blocks/announcement/__director/announcement__director.css);
@import url(../blocks/announcement/__info/announcement__info.css);
@import url(../blocks/announcement/__buttons/announcement__buttons.css);
@import url(../blocks/announcement/__button/announcement__button.css);

@import url(../blocks/person/person.css);
@import url(../blocks/person/__photo/person__photo.css);
@import url(../blocks/person/__name/person__name.css);
@import url(../blocks/person/__name-word/person__name-word.css);
@import url(../blocks/person/__position/person__position.css);

@import url(../blocks/custom-slider/custom-slider.css);
@import url(../blocks/custom-slider/__tape/custom-slider__tape.css);
@import url(../blocks/custom-slider/__tape/_use-transition/custom-slider__tape_use-transition.css);
@import url(../blocks/custom-slider/__button/custom-slider__button.css);
@import url(../blocks/custom-slider/__button/_action/custom-slider__button_action_next.css);
@import url(../blocks/custom-slider/__button/_action/custom-slider__button_action_prev.css);
@import url(../blocks/custom-slider/__button/_visible/custom-slider__button_visible.css);

@import url(../blocks/playbill/playbill.css);
@import url(../blocks/playbill/_type/playbill_type_single.css);
@import url(../blocks/playbill/__title/playbill__title.css);
@import url(../blocks/playbill/__slider/playbill__slider.css);
@import url(../blocks/playbill/__container/playbill__container.css);
@import url(../blocks/playbill/__button/playbill__button.css);

@import url(../blocks/plays/plays.css);
@import url(../blocks/plays/__title/plays__title.css);
@import url(../blocks/plays/__slider/plays__slider.css);
@import url(../blocks/plays/__container/plays__container.css);

@import url(../blocks/personnel/personnel.css);
@import url(../blocks/personnel/__title/personnel__title.css);
@import url(../blocks/personnel/__slider/personnel__slider.css);
@import url(../blocks/personnel/__container/personnel__container.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__logo/footer__logo.css);
@import url(../blocks/footer/__partners/footer__partners.css);
@import url(../blocks/footer/__partners-title/footer__partners-title.css);
@import url(../blocks/footer/__partner-logo/footer__partner-logo.css);
@import url(../blocks/footer/__logo-image/footer__logo-image.css);
@import url(../blocks/footer/__logo-caption/footer__logo-caption.css);
@import url(../blocks/footer/__address/footer__address.css);
@import url(../blocks/footer/__place-name/footer__place-name.css);
@import url(../blocks/footer/__place-address/footer__place-address.css);
@import url(../blocks/footer/__menu/footer__menu.css);
@import url(../blocks/footer/__menu-item/footer__menu-item.css);
@import url(../blocks/footer/__item-link/footer__item-link.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/footer/__line/footer__line.css);
@import url(../blocks/footer/__copy/footer__copy.css);
@import url(../blocks/footer/__policy/footer__policy.css);
@import url(../blocks/footer/__developers/footer__developers.css);
@import url(../blocks/footer/__design/footer__design.css);
@import url(../blocks/footer/__developer/footer__developer.css);
@import url(../blocks/footer/__design-logo/footer__design-logo.css);
@import url(../blocks/footer/__developer-link/footer__developer-link.css);
