.about {
  background-color: var(--color-accent);
  height: fit-content;
  min-height: 398px;
  padding-left: var(--title-offset);
}

@media screen and (max-width: 870px) {
  .about {
    padding: 0 24px;
    min-height: 437px;
  }
}
