.about {
  background-color: var(--color-accent);
  box-sizing: border-box;
  padding: calc(56px + (79 - 56) * var(--scale-k))
           24px
           calc(72px + (120 - 72) * var(--scale-k))
           var(--title-offset);
}
