.gallery__header {
  max-width: calc(100% - 60%);
  margin: 0 0 3% 25%;
  font-family: 'Neue Machina';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.01em;

  color: #242424;
}

@media screen and (max-width: 768px) {
  .gallery__header {
    font-size: 28px;
    line-height: 32px;
  }
}

@media screen and (max-width: 425px) {
  .gallery__header {
    font-size: 28px;
    line-height: 32px;
    margin: 0 0 3% 6%;
    max-width: calc(100% - 6%);
  }
}
