.about__subtitle {
  margin: 0;
  max-width: 509px;
  padding-left: 60px;
  width: 100%;
  font-feature-settings: 'ss01' on;
}

@media screen and (max-width: 870px) {
  .about__subtitle {
    max-width: 305px;
    margin: 0 auto;
  }
}
