.about__subtitle {
  margin: 0;
  max-width: 569px;
  padding-left: 60px;
  width: 100%;
  font-family: 'Formular';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.01em;
  font-feature-settings: 'ss01' on;
  color: var(--color-coal);
}
