.header__projects-button {
  position: absolute;
  left: 30px;
  top: 94px;
  z-index: 1;

  width: 120px;
  height: 32px;

  font-size: 16px;
  line-height: 14px;

  background-color: #ECEBE8;

  transition: all .35s ease;
}

.header__projects-button:hover {
  cursor: pointer;
}

@media screen and (max-width: 1420px) {
  .header__projects-button {
    left: 86px;
    top: 15px;
  }
}
